{% extends "index.html" %}
{% block titulo%}
    <title>Dojos</title>
{% endblock %}
{% block body%}
    <body class="body">
        <div class="contendor">
            <div class="cont_dojo">
                <h2>New Dojo</h2>
                <form action="/create_dojo"method="POST">
                    <label for="nombre">Name:</label>
                    <input type="text" class="form-control" name="nombre">
                    <button type="submit" class="btn btn-primary btnDojo">Create</button>
                </form>
            </div>
            <div class="cont_allDojo">
                <div class="cAllDojo">
                    <h2>All Dojos</h2>
                    <div class="cajaDojos">
                        {% for dojo in all_dojos %}
                            <a href="/dojos/{{dojo.id}}" class="aCadaDojo">{{dojo.nombre}}</a>
                        {% endfor %}
                    </div>
                </div>
                <a href="/ninjas" class="aNewDojo">Add Ninja</a>
            </div>
        </div>
    </body>
{% endblock %}